html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/*start : header-top*/
.header_box {
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header_top {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*ez배송 */
.logo-box {
  display: flex;
  align-items: center;
}

.ezmeal_logo {
  width: 80px;
  height: 70px;
}

.ezmeal_letter {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

/*검색창 box*/
.search_box {
  position: relative;
  width: 300px;
  height: 48px;
  padding: 6px 14px;
  border: 1px solid #65d674;
  border-radius: 6px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.search_box {
  position: relative; /* 추가 */
  width: 300px;
  height: 48px;
  padding: 6px 14px; /* 수정 */
  border: 1px solid #65d674;
  border-radius: 6px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.search_inner_box {
  position: absolute;
  width: 80%; /* 추가 */
  height: 30px;
  line-height: 30px; /* 추가 */
  left: 20px; /* 추가 */
  top: 50%; /* 추가 */
  transform: translateY(-50%); /* 추가 */
  border-style: none;
  font-size: 16px;
}

.search-btn {
  position: absolute;
  right: 10px; /* 수정 */
  top: 50%; /* 수정 */
  transform: translateY(-50%); /* 추가 */
  width: 30px;
  height: 30px; /* 수정 */
  border-style: none;
}

.search_inner_box:hover,
.search_inner_box:focus {
  outline: none;
}

.search-btn svg {
  fill: rgb(179, 180, 182);
  display: block;
  height: 100%;
  width: 100%;
}

.search-btn svg:hover {
  fill: rgb(0, 199, 40);
}

.fas.fa-search {
  color: rgb(0, 199, 40); /* 초기 색상 */
  transition: color 0.3s ease; /* 색상 변화에 대한 트랜지션 효과 */
}


/*start : 아이콘(user, wishlist,cart)*/
.icon_box {
  display: flex; /*아이콘과 드롭다운 메뉴 가로정렬*/
  position: relative;
  align-items: center;
}

.icon_inner_box {
  margin: 0 20px;
  padding: 0;
}

.icon_inner_dropdown {
  cursor: pointer;
  margin: 0 20px;   /* 드롭다운 메뉴 아이콘과 간격 설정 */
  padding: 0;
}

.icon_inner_dropdown:hover #user_menu_nav{
  display: block;
}

/*block인 이유는 드롭다윤 메뉴를 다른 요소들과 구분하기 위해서->다른 요소들과 줄바꿈 표시해서 시각적으로 구분되도록함*/

#user_menu_nav { /* 유저 메뉴 드롭다운 li*/
  display: none; /*초기에 드롭다운이 안보이도록 숨김*/
  position: absolute; /*아이콘을 기준으로 위치*/

  left: 0;
  z-index: 999;
}


#user_menu_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#user_menu_nav li {
  white-space: nowrap; /*텍스트가 줄바꿈되지 않고 한 줄로 유지되도록 설정*/
  font-size: 15px;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border: 0.1px solid rgb(195, 196, 195);
  position: relative;
  text-align: center;
  background-color: #fff;
}

.fal.fa-heart {
  color: rgb(0, 199, 40); /* 초기 색상 */
  transition: color 0.3s ease; /* 색상 변화에 대한 트랜지션 효과 */
}

.fal.fa-heart:hover {
  color: rgb(33, 146, 255); /* 호버 시 색상 변화 */
}
/*end :아이콘 (user, wishlist,cart) */
/*end : header - top*/

/*start : hdeader-bottom(슬라이드바, 가로메뉴바)*/
.header-bottom {
  caret-color: transparent;   /*커서 깜빡임 없애기*/
  display: flex;
  width: 100%;
  background-color: rgb(0, 199, 40);
  position: sticky;
  top: 0;
  height: 50px;
  text-align: center;
  z-index: 10;
}
/*header-bottom만 스크롤할때 같이 내려가려면 fixed가 아니라 sticky를 써야한다. 이
때 top을  0으로 지정해줘야 스크롤시 header-top이 안보여!!!! */

.horizonMenu-list {
  list-style-type: none;
  padding-left: 100px;
  padding-right: 300px;
  display: flex;
  font-size: large;
  font-weight: 700;
  position: relative;
  align-items: center;
  width: 1100px;
  justify-content: space-between;
  margin: auto;  /*상단 메뉴 중앙 정렬*/
}

.horizonMenu-list a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/*글씨 밑줄 효과*/
.horizonMenu-list a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px; /*밑줄 굵기*/
  content: "";
  background: #fff;
  transition: all 0.3s;
  left: 0px;
  bottom: 0px;
}

.horizonMenu-list a:hover:after {
  opacity: 1;
  width: 100%;
}
/*end : 글씨 밑줄 효과*/

.ezdeliveryimg {
  margin-top: 5px;
  width: 120px;
  height: auto;
}
/*start : 사이드바 관련 내용*/
.siderbar {
  /*햄버거 아이콘 있는*/
  float: left;
  display: flex;
  width: 100px;
  height: 30px;
  overflow: hidden;
  align-items: center;
  /*z-index: 1; 헤더는 다른 요소들과 겹치지않고 더 앞에 나타나야하니까 */
  position: relative;
}

#sidebarMenu {
  height: 80px;
  left: 0;
  width: 180px;
  position: sticky;
  margin-top: 34px; /*이거 지우면 안되지안되지 이거 지우면 신선식품안보인다*/
  transform: translateX(-250px); /*사이드바 메뉴 왼쪽으로 이동해서 안보이게*/
  transition: transform 250ms ease-in-out; /*ease-in-out는 전환타이밍 함수(부드럽게 전환효과가 일어나도록하는것*/
}

/*sidebarmenu가 heder-bottom과 같이 움직이지않아서 이것도sticky처리하고 마진넣어서 heder-bottom과 붙여놓고 같이움직일수잇게함*/

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
}

.sidebarMenuInner {
  position: relative;
}

.sidebarMenuInner li {
  list-style: none;
  padding: 10px 0 15px 20px;
  cursor: pointer;

  text-align: left; /*글씨 왼쪽 정렬*/
  background-color: #fff;
}

.sidebarMenuInner li a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.sidebarMenuInner ul {
  display: none; /*초기에 표시 안함*/
  position: absolute; /*부모요소를 기준으로 배치 */
  left: 76%;
  top: 0;
  min-width: 170px; /*max-width로 고치면 글자가 세로로나온다. 왜지?*/
}

.sidebarMenuInner li:hover > ul {
  display: block;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
/*체크된 상태인 input 요소의 형제인 #sidebarMenu 요소에 대해 
 transform 속성을 사용하여 X축으로 0만큼 이동*/

.openSidebarMenu[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 17px;
  left: 50px;
  height: 25px;
  width: 25px;
}

.spinner {
  /*햄버거 아이콘 감싸는 박스*/
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}

.horizontal {
  /*햄버거둘째줄*/
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  /*햄버거첫째줄*/
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  /*햄버거셋째줄*/
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*아이콘과 스피너의 width와 height가 같은 역할을하는것 같아서 지우려고 했더니  하나라도 없으면  
토글이 안뜸. 스피너는 로딩상태를 시각적으로 나타내는 요소. 
스피너대신 다른거로 바꿔야하나...?*/

/*sidevarMenu-inner-list 의 icon 색 지정*/
.fas.fa-apple-alt {
  color: rgb(236, 90, 90);
}
.fas.fa-egg {
  color: rgb(247, 215, 129);
}

.fas.fa-seedling {
  color: #65d674;
}

.fas.fa-bread-slice {
  color: rgb(196, 152, 5);
}

.fa-solid.fa-bowl-rice {
  color: rgb(78, 80, 77);
}

.fa-solid.fa-drumstick-bite {
  color: darkgoldenrod;
}
/*end: icon색 지정*/

/*end: 사이드바 관련 내용*/

/*end : 두번째 헤더 (슬라이드바, 가로메뉴바)*/

/*start :backtotop-btn*/
#backtotop-btn {
  position: fixed;
  bottom: 30px;
  float: right;
  right: 10%;
  left: 90%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(0, 199, 40);
  padding: 0.5px;
}

#backtotop-btn:hover {
  background-color: rgb(33, 146, 255);
}
