
/*---- 슬라이드를 감싸는 div -----*/
.slide_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*START : IMG SLIDE*/
.image-slideshow {
  width: 1440px;
  position: relative;
  display: block;
  overflow: hidden;
}

.fade {
  /*이미지 변경될때마다 페이딩, 애니메이션 지속 시간을 3초*/
  animation-name: fade;
  animation-duration: 3s;
}

/*END : IMG SLIDE*/



/*start :backtotop-btn*/
#backtotop-btn {
  position: fixed;
  bottom: 30px;
  float: right;
  right: 10%;
  left: 90%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(0, 199, 40);
  padding: 0.5px;
}

#backtotop-btn:hover {
  background-color: rgb(33, 146, 255);
}

/*페이지를 스크롤하면 버튼이 항상 하단에서 30픽셀 위에 있다, 
스크롤을 따라 내려온다 -> position: fixed; 속성에 의해 구현, 
페이지의 스크롤 위치에 관계없이 버튼을 항상 화면에 고정*/
/*start :backtotop-btn*/

/*

 /*문제점 :비율을 축소하면 footer가 오른쪽으로 이동되어있었다
->.header_box에 position: relative; 속성을 추가하고, .footer1의 width를 100%로 변경해서 해결

 참고 :  position: relative; .header_box에 적용해서 .footer1과의 상대적인 위치를 조절가능
 상위 요소인 .header_box를 기준으로 .footer1의 위치가 결정되기 때문에, 
 두 요소가 겹치지 않고 올바른 위치에 표시

 width: 100% 는 전체너비에 맞췄기때문에 화면 꽉채워서 다른요소와 안겹치고 독립적이다.

*/
