<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="SearchCondition" type="com.teamProject.ezmeal.domain.SearchCondition" />
<!--        cart , cartProduct 추가 필요-->
        <typeAlias alias="CartDto" type="com.teamProject.ezmeal.domain.CartDto"/>
        <typeAlias alias="CartProductDto" type="com.teamProject.ezmeal.domain.CartProductDto"/>
        <typeAlias alias="CartJoinProductDto" type="com.teamProject.ezmeal.domain.joinDomain.CartJoinProductDto"/>
        <typeAlias alias="DeliveryAddressDto" type="com.teamProject.ezmeal.domain.DeliveryAddressDto"/>
        <typeAlias alias="MemberDto" type="com.teamProject.ezmeal.domain.MemberDto"/>
<!--상품 , 상품이미지 , 상품할인, 상품옵션, 상품후기, 상품재고, 찜한상품, + 카테고리, 거래처, 상품상태코드 + 리뷰 평점 개수-->
        <typeAlias alias="ProductDto" type="com.teamProject.ezmeal.domain.ProductDto"/>
        <typeAlias alias="ProductImgDto" type="com.teamProject.ezmeal.domain.ProductImgDto"/>
        <typeAlias alias="ProductDiscountDto" type="com.teamProject.ezmeal.domain.ProductDiscountDto"/>
        <typeAlias alias="ProductOptionDto" type="com.teamProject.ezmeal.domain.ProductOptionDto"/>
        <typeAlias alias="ProductReviewDto" type="com.teamProject.ezmeal.domain.ProductReviewDto"/>
        <typeAlias alias="ProductInventoryDto" type="com.teamProject.ezmeal.domain.ProductInventoryDto"/>
        <typeAlias alias="WishListDto" type="com.teamProject.ezmeal.domain.WishListDto"/>
        <typeAlias alias="ProductCategoryDto" type="com.teamProject.ezmeal.domain.ProductCategoryDto"/>
        <typeAlias alias="CustDto" type="com.teamProject.ezmeal.domain.CustDto"/>
        <typeAlias alias="ProductStatusDto" type="com.teamProject.ezmeal.domain.ProductStatusDto"/>
        <typeAlias alias="ProductReviewTotalDto" type="com.teamProject.ezmeal.domain.ProductReviewTotalDto"/>

<!--회원 등급, 적립금-->
        <typeAlias alias="MemberGradeDto" type="com.teamProject.ezmeal.domain.MemberGradeDto"/>
        <typeAlias alias="MemberGradeBenefitDto" type="com.teamProject.ezmeal.domain.MemberGradeBenefitDto"/>
        <typeAlias alias="PointTransactionHistoryDto" type="com.teamProject.ezmeal.domain.PointTransactionHistoryDto"/>
        <typeAlias alias="PointTransactionCodeDto" type="com.teamProject.ezmeal.domain.PointTransactionCodeDto"/>
<!--회원 쿠폰, 쿠폰 발행 -->
        <typeAlias alias="CouponIssueDto" type="com.teamProject.ezmeal.domain.CouponIssueDto"/>
        <typeAlias alias="MemberCouponDto" type="com.teamProject.ezmeal.domain.MemberCouponDto"/>
<!--join dto-->
        <typeAlias alias="CouponJoinDto" type="com.teamProject.ezmeal.domain.joinDomain.CouponJoinDto"/>
<!-- 주문/결제 dto -->
        <typeAlias alias="OrderMasterDto" type="com.teamProject.ezmeal.domain.OrderMasterDto"/>
        <typeAlias alias="PaymentMasterDto" type="com.teamProject.ezmeal.domain.PaymentMasterDto"/>
        <typeAlias alias="OrderStatusHistoryDto" type="com.teamProject.ezmeal.domain.OrderStatusHistoryDto"/>
        <typeAlias alias="OrderPaymentDto" type="com.teamProject.ezmeal.domain.OrderPaymentDto"/>
        <typeAlias alias="OrderDetailDto" type="com.teamProject.ezmeal.domain.OrderDetailDto"/>
        <typeAlias alias="DeliveryMasterDto" type="com.teamProject.ezmeal.domain.DeliveryMasterDto"/>
<!-- 주문내역 dto-->
        <typeAlias alias="OrderPaymentJoinDto" type="com.teamProject.ezmeal.domain.joinDomain.OrderPaymentJoinDto"/>

        <!--  관리자  -->
        <typeAlias alias="AdminMemberDto" type="com.teamProject.ezmeal.domain.AdminMemberDto"/>


        <!--공지사항-->
        <typeAlias alias="noticeDto" type="com.teamProject.ezmeal.domain.NoticeDto"></typeAlias>
        <typeAlias alias="PageHandler" type="com.teamProject.ezmeal.domain.PageHandler"></typeAlias>



    </typeAliases>
</configuration>