.all {
    display: grid;
    width: 1200px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 465px 465px;
    gap: 30px;
    align-items: flex-start;
}

.admin_graph {
    border: 2px solid #e0e0e0;
    border-radius : 40px;
    padding: 20px;
    margin: 20px;
    height: 430px;
}

.admin_graph h1{
    margin-bottom: 0px;
    margin-left: 25px;
    color:black;
}

.chart_div {
    padding: 20px;
}

/* taewan */
.chart_div_order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart_name,
.chart_sub_name
{
    width: 500px;
    margin: 5px;
}
.chart_sub_name{
    color: darkgray;
}

.chart_link {
    display: inline; /* a 요소를 인라인으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 (선택사항) */
}

/*--------개별 대시보드 타이틀 왼쪽 정렬--------*/
.admin_container_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 뷰포트 높이에 맞게 조정 */
}


.all_top_title {
    width: 100%;
    text-align: left;
    padding: 0 20px;
}


/*------------------------*/

#chart_shape3 , #chart_shape4, #chart_shape6 {
    margin-top: 20px;
}


