@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    padding: 0;
}
/*커서 깜빡임 제거*/
label, th, li {
    caret-color: transparent;
}

.admin_header_div {
    background-color: rgb(25, 38, 66);
    height: 50px;
    width: auto;
    justify-content: center;
}

.header {
    display: flex;

}

.admin_title, .admin_name {
    display: flex;
    align-items: center;
}

.logo_img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.admin_title{
    margin-top: 0;
    margin-left: 600px;
}
.admin_title > span {
    width : 300px;
    height: auto;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}


.admin_name > p {
    width : 230px;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 상위 요소의 색상 상속 */
    display: block; /* 블록 레벨 요소로 변경 */
    font-size: 15px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

#logout_btn  {
    margin-top: 15px;
    width : 100px;
}


/*-------------------------------  헤더 묶는 디브 ------------------------------------*/
/*헤더 아래쪽 왼쪽 '메뉴'와 오른쪽 '개인페이지' 묶는 디브*/
.all_container_div {
    display: flex;
    height: auto;
    min-height: 860px;
    width: 1370px;
}


/*--------------------------------  왼쪽 관리자메뉴  ------------------------------*/



/*--------------------------------  오른쪽 개인페이지 ------------------------------*/
.admin_container_div {
    margin-top: 20px;
    display: flex;
    /*border: 5px solid blue ;*/
    height: auto;
    min-height: 870px;
    width: 1200px;
    margin-left: 40px;
}


