@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
    font-family: 'NanumSquare', sans-serif;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}


/* ------------------------ 상품 관련 추가 정보 ------------------------------- */

.middle_3 {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

}


.info_table {
    width: auto;
    border-collapse: collapse;
}


.prod_dscpt_set {
    border-top: 1px solid #c6e2cd; /* 아래쪽 구분선 설정 */
}

.dscpt_table th,
.dscpt_table td {
    border-bottom: 1px solid #c6e2cd; /* 아래쪽 구분선 설정 */
    padding-top: 20px;
    padding-bottom: 20px;
}


.dscpt_table th {
    width: 150px;
    padding-right: 10px;
    font-size: 18px;
}

.dscpt_table td {
    width: 950px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
}



