<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cartProduct">

    <!--resultMap _ CartJoinProductDto-->
    <resultMap id="CartJoinProductDto" type="CartJoinProductDto">
        <result property="cp_qty" column="cpQty"/>
        <result property="po_qty" column="poQty"/>
    </resultMap>

    <!-- 품절 상품 업데이트 -->
    <update id="soldOut_yn" parameterType="Long">
        update tb_cart_product cp
            JOIN tb_product p ON cp.prod_cd = p.prod_cd
            join tb_product_inventory pi on cp.prod_cd = pi.prod_cd
            LEFT JOIN tb_product_option po ON cp.opt_seq = po.opt_seq
        SET cp.soldout_yn = if(if(po.qty is null, 1, po.qty) > pi.curr_inv, 'y', 'n')
        WHERE cp.cart_seq = #{cartSeq}
    </update>

    <!-- 일반 상품 수량 | 품절, 삭제 제외 -->
    <select id="count" resultType="int">
        select count(*)
        from tb_cart_product cp
        where cp.cart_seq = #{cartSeq}
          and del_yn &lt;&gt; 'y'
          and soldout_yn &lt;&gt; 'y'
    </select>


    <!-- 일반 상품 : 냉장/냉동/상온 map으로 저장 -->
    <select id="product_list" resultMap="CartJoinProductDto" resultType="CartJoinProductDto">
    select cp.cart_prod_seq,
       cp.prod_cd,
       cp.opt_seq,
       cp.typ,
       cp.soldout_yn,
       cp.qty                                                                    AS cpQty,
       IFNULL(po.qty, 1)                                                         AS poQty,
       IFNULL(CONCAT(p.name, ' ', po.name), p.name)                              AS name,
       IFNULL(p.cnsmr_prc, po.cnsmr_prc)                                         AS cnsmr_prc,
       IFNULL(p.sale_prc, po.sale_prc)                                           AS sale_prc,
       IFNULL(FORMAT(p.cnsmr_prc * cp.qty, 0), FORMAT(po.cnsmr_prc * cp.qty, 0)) AS cnsmr_prc_format,
       IFNULL(FORMAT(p.sale_prc * cp.qty, 0), FORMAT(po.sale_prc * cp.qty, 0))   AS sale_prc_format,
       pi.url
FROM tb_cart_product cp
         JOIN tb_product p ON cp.prod_cd = p.prod_cd
         LEFT JOIN tb_product_option po ON cp.opt_seq = po.opt_seq
        join tb_product_img pi on pi.prod_cd = p.prod_cd
        WHERE cp.cart_seq = #{cartSeq}
        AND cp.del_yn &lt;&gt; 'y'
        and pi.typ = '대표'
        order by cp.typ
    </select>


    <!-- 상품 삭제 -->
    <update id="delete">
        UPDATE tb_cart_product
        SET del_yn = 'y',
        qty = 0
        WHERE cart_prod_seq in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <!-- 해당 회원의 장바구니의 상품 존재여부 검증 -->
    <select id="validation" resultType="int">
        select count(*)
        from tb_cart_product
        where cart_seq = #{cartSeq}
        and cart_prod_seq in
        <foreach collection="cartProdSeq" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--수량 update-->
    <update id="quantity">
        update tb_cart_product
        set qty = #{quantity}
        where cart_prod_seq = #{cartProdSeq};
    </update>

    <!-- 주문 선택 상품 선택 column check하기-->
    <update id="select_Product">
        UPDATE tb_cart_product
        SET sel_prod = CASE
        WHEN cart_prod_seq IN <foreach item="item" collection="cartProdSeqList" open="(" separator="," close=")">
        #{item}
    </foreach> THEN 'y'
        WHEN cart_seq = #{cartSeq} THEN 'n'
        ELSE sel_prod
        END
        where cart_seq = #{cartSeq}
    </update>

    <!-- 주문하기에 선택된 장바구니 상품 가져오기 -->
    <select id="order_products" resultMap="CartJoinProductDto" resultType="CartJoinProductDto">
        SELECT cp.cart_prod_seq,
               cp.prod_cd,
               cp.opt_seq,
               cp.typ,
               cp.qty                                                  as cpQty,
               IFNULL(po.qty, 1)                                       AS poQty,
               IFNULL(CONCAT(p.name, ' ', po.name), p.name)            AS name,
               IFNULL(p.cnsmr_prc, po.cnsmr_prc)                       AS cnsmr_prc,
               IFNULL(p.sale_prc, po.sale_prc)                         AS sale_prc,
               IFNULL(FORMAT(p.cnsmr_prc * cp.qty, 0), FORMAT(po.cnsmr_prc * cp.qty, 0)) AS cnsmr_prc_format,
               IFNULL(FORMAT(p.sale_prc * cp.qty, 0), FORMAT(po.sale_prc * cp.qty, 0))   AS sale_prc_format,
               pi.url
        FROM tb_cart_product cp
                 JOIN tb_product p ON cp.prod_cd = p.prod_cd
                 LEFT JOIN tb_product_option po ON cp.opt_seq = po.opt_seq
                 join tb_product_img pi on pi.prod_cd = p.prod_cd
        WHERE cp.cart_seq = #{cartSeq}
          and cp.sel_prod = 'y'
          and cp.del_yn = 'n'
          and pi.typ = '대표'
    </select>

    <!-- 주문할 상품 품절현황 확인 -->
    <select id="orderList_soldOut" resultType="int">
        select cart_prod_seq
        from tb_cart_product
        where cart_prod_seq in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and soldout_yn = 'y'
    </select>

    <!-- 주문할 상품 재고파악-->
    <select id="orderList_inventory" resultType="CartJoinProductDto">
        select cp.prod_cd,
        pi.curr_inv
        from tb_cart_product cp
        JOIN tb_product p ON cp.prod_cd = p.prod_cd
        join tb_product_inventory pi on cp.prod_cd = pi.prod_cd
        LEFT JOIN tb_product_option po ON cp.opt_seq = po.opt_seq
        where cp.cart_prod_seq in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and cp.del_yn &lt;&gt; 'y'
        group by cp.prod_cd, pi.curr_inv
        having (pi.curr_inv - sum(cp.qty * IF(po.qty IS NULL, 1, po.qty))) &lt; 0
    </select>

    <!-- 주문한 상품 수량 받아오기-->
    <select id="count_orderProduct" resultType="int">
        select count(*)
        from tb_cart_product
        where cart_seq = #{cartSeq}
          and sel_prod = 'y'
    </select>

    <!--  | 관리자 |  -->

    <!-- 장바구니에 존재하는 모든 상품 | 삭제 항목 제외 -->
    <select id="all_product" resultType="CartProductDto">
        select cp.prod_cd, cp.typ, cp.qty, p.name, p.cnsmr_prc, p.sale_prc
        from tb_cart_product cp,
             tb_product p
        where cp.cart_seq = #{cartSeq}
          and cp.prod_cd = p.prod_cd
          and cp.del_yn &lt;&gt; 'y'
    </select>

    <!-- HHJ (+)-->
    <!--상품 추가 mapper (+)-->
    <!--mbr_id, prod_cd로 해당상품이 장바구니에 이미 담겨있는지 확인하기-->  <!-- (변경부분) opt_seq도 비교하도록 추가함 -->
    <select id="select_product_in_cart" parameterType="CartProductDto" resultType="CartProductDto">
        SELECT *
        FROM tb_cart_product
        WHERE mbr_id = #{mbr_id} AND prod_cd = #{prod_cd}
        <if test="opt_seq == null">AND opt_seq IS NULL</if>
        <if test="opt_seq != null">AND opt_seq = #{opt_seq}</if>
    </select>

    <!--이미 담겨있는지 상품 수량 변경-->
    <update id="update_product_qty_in_cart" parameterType="CartProductDto">
        UPDATE tb_cart_product
        SET qty = qty + #{qty},
        del_yn = 'n',
        add_dt = #{add_dt},
        up_dtm = now(),
        up_id = 'ateam'
        WHERE mbr_id = #{mbr_id} AND prod_cd = #{prod_cd}
        <if test="opt_seq == null">AND opt_seq IS NULL</if>
        <if test="opt_seq != null">AND opt_seq = #{opt_seq}</if>
    </update>


    <!--상품 목록, 상품 상세에서 장바구니에 상품 담기  (seq 자동증가 버전)-->
    <insert id="add_product_to_cart_seq" parameterType="CartProductDto">
        insert into tb_cart_product (prod_cd, cart_seq, mbr_id,
                                     sel_prod, typ, opt_seq, soldout_yn, qty,
                                     add_dt, del_yn, in_dtm, in_id, up_dtm, up_id)
        values (#{prod_cd}, #{cart_seq}, #{mbr_id},
                #{sel_prod}, #{typ}, #{opt_seq}, #{soldout_yn}, #{qty},
                #{add_dt}, 'n', now(), 'ateam', now(), 'ateam')
    </insert>

    <!-- taewan (+)-->

    <update id="update_after_order">
        UPDATE tb_cart_product
        SET sel_prod = IF(del_yn = 'y', 'n', sel_prod),
            qty      = IF(sel_prod = 'y' and del_yn = 'n', 0, qty),
            del_yn   = IF(sel_prod = 'y' and del_yn = 'n', 'y', del_yn),
            up_id    = IF(sel_prod = 'y' and del_yn = 'y', 'ezmeal', up_id),
            up_dtm   = IF(sel_prod = 'y' and del_yn = 'y', now(), up_dtm)
        WHERE cart_seq = #{cartSeq};
    </update>


</mapper>