<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="couponJoinDao">

    <select id="coupon_list" resultType="CouponJoinDto">
        select mc.mbr_coupn_id, mc.vld_start_dt, mc.vld_end_dt, ci.name, ci.val, ci.max_prc, ci.use_base_prc
        from  tb_member_coupon mc,tb_coupon_issue ci
        where mc.mbr_id = #{mbrId}
          and mc.coupn_issu_cd = ci.coupn_issu_cd
          and mc.use_yn = 'n'
          and mc.del_yn = 'n'
        # and STR_TO_DATE(vld_end_dt, '%Y/%m/%d') &lt; CURDATE(); todo 조금있다가 날짜 확인하는 것도 넣기
    </select>

    <select id="coupon_price" resultType="CouponJoinDto">
        select ci.val,
               if(ci.max_prc is null , ci.val, ci.max_prc) as max_prc
        from  tb_member_coupon mc,tb_coupon_issue ci
        where mc.mbr_coupn_id = #{mbrCoupnId}
          and mc.coupn_issu_cd = ci.coupn_issu_cd
    </select>
</mapper>