<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tb_cust">

    <select id="select_all_cust" resultType="CustDto">
        SELECT *
        FROM tb_cust
        WHERE use_yn='y' AND  del_yn='n'
    </select>

</mapper>