<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tb_product_option">

    <!-- 옵션 yn -> 카테고리에서 보여줄 때? 옵션SEQ, 짧은 옵션명, 수량, sale_prc -->
    <select id="select_option_in_category" parameterType="String" resultType="ProductOptionDto">
        SELECT opt.opt_seq, opt.prod_cd, opt.name, opt.qty, opt.sale_prc, opt.dc_rate
        FROM tb_product_option AS opt
                 INNER JOIN tb_product AS pd ON opt.prod_cd = pd.prod_cd
        WHERE opt.use_yn = 'y' AND opt.del_yn ='n'
              AND pd.cate_cd LIKE concat(#{cate_cd}, '%')  AND pd.sale_yn='y'
              AND pd.dp_yn='y' AND pd.del_yn='n' AND pd.prod_stus IN (1,2)
    </select>

    <!-- 옵션 y -> 상세페이지에서 보여줄 떄?  -->
    <select id="select_option_in_detail" parameterType="Long" resultType="ProductOptionDto">
        SELECT opt.opt_seq, opt.prod_cd, opt.dc_cd, opt.name,
               opt.cnsmr_prc, opt.sale_prc, opt.dc_rate, opt.typ, opt.qty
        FROM tb_product_option AS opt
                 INNER JOIN tb_product AS pd ON opt.prod_cd = pd.prod_cd
        WHERE opt.use_yn = 'y' AND opt.del_yn ='n' AND pd.prod_cd = #{prod_cd}
    </select>

    <!-- 옵션 -> 관리자페이지에서 봐야하는 옵션 정보 전체니까 *   -->
    <select id="select_option_for_mng" parameterType="Long" resultType="ProductOptionDto">
        SELECT *
        FROM tb_product_option
        WHERE prod_cd = #{prod_cd}
    </select>

    <!-- 상품에서 opt_yn이 y라면? 여기서 상품코드로 검색해서 줌 -->
    <select id="select_option_product_by_prod_cd" parameterType="Long" resultType="ProductOptionDto">
        SELECT *
        FROM tb_product_option
        WHERE prod_cd = #{prod_cd} AND use_yn = 'y' AND del_yn ='n'
    </select>

    <!--옵션 하나 꺼내기 (수정 TDD를 위한 것. 실제 관리자페이지에서는 List로 한번에 받아서 사용할듯)-->
    <select id="select_option_product_for_mng" parameterType="Long" resultType="ProductOptionDto">
        SELECT *
        FROM tb_product_option
        WHERE opt_seq = #{opt_seq}
    </select>


    <!--옵션 생성-->
    <insert id="insert_option" parameterType="ProductOptionDto">
        INSERT INTO tb_product_option ( prod_cd, dc_cd, name, typ, qty, cnsmr_prc, sale_prc, dc_rate, use_yn, del_yn, rmk,
                                        in_dtm, in_id, up_dtm, up_id)
        VALUES ( #{prod_cd}, #{dc_cd}, #{name}, #{typ}, #{qty}, #{cnsmr_prc}, #{sale_prc}, #{dc_rate},
                 'y', 'n', #{rmk}, now(), #{in_id} , now(), #{up_id})
    </insert>

    <!--옵션 수정-->
    <update id="update_option" parameterType="ProductOptionDto" >
        UPDATE tb_product_option
        SET dc_cd=#{dc_cd}, name=#{name}, typ=#{typ}, qty=#{qty}, cnsmr_prc=#{cnsmr_prc}, sale_prc=#{sale_prc}, dc_rate=#{dc_rate},
            use_yn=#{use_yn}, del_yn=#{del_yn}, rmk=#{rmk}, up_dtm=now(), up_id=#{up_id}
        WHERE opt_seq = #{opt_seq} AND prod_cd = #{prod_cd}
    </update>


    <!--옵션 삭제-->
    <!--찐 삭제(관리자용)-->
    <delete id="delete_option_for_tdd" parameterType="Long"  >
        DELETE
        FROM tb_product_review
        WHERE opt_seq = #{opt_seq}
    </delete>

    <!--가짜 삭제-->
    <update id="delete_option_del_y" parameterType="Map" >
        UPDATE tb_product_review
        SET del_yn = 'y'
        WHERE revw_id = #{revw_id}
    </update>

    <!--옵션 사용 여부 변경 -->
    <update id="delete_option_use_yn" parameterType="String" >
        UPDATE tb_product_review
        SET use_yn = #{use_yn} , up_dtm = now()
        WHERE opt_seq = #{opt_seq}
    </update>


</mapper>